<div class="container-fluid text-center home-banner">
  <h1>This is my Assignment</h1> 
</div>

<h3>
<%= link_to 'Alpha-Blog', articles_path %> | 
<%= link_to 'About Us', about_path %>
</h3>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">First Column</h2>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sodales vehicula malesuada. Suspendisse libero mauris, ullamcorper non pulvinar sit amet, tristique sed nisl. Suspendisse scelerisque ligula est, sed bibendum diam accumsan placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum congue neque at diam aliquam, id hendrerit nulla elementum. Vivamus vel nunc congue, auctor urna eu, egestas nibh. Morbi blandit leo convallis, aliquam risus at, finibus leo. Sed vulputate, quam id ultrices pellentesque, ante felis finibus turpis, vitae maximus tortor lectus id sapien. Ut sollicitudin dui metus, vitae sodales dolor maximus eget. Fusce blandit facilisis tristique. Duis pulvinar ipsum nisl, eu sodales nulla ullamcorper in.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Second Column</h2>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sodales vehicula malesuada. Suspendisse libero mauris, ullamcorper non pulvinar sit amet, tristique sed nisl. Suspendisse scelerisque ligula est, sed bibendum diam accumsan placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum congue neque at diam aliquam, id hendrerit nulla elementum. Vivamus vel nunc congue, auctor urna eu, egestas nibh. Morbi blandit leo convallis, aliquam risus at, finibus leo. Sed vulputate, quam id ultrices pellentesque, ante felis finibus turpis, vitae maximus tortor lectus id sapien. Ut sollicitudin dui metus, vitae sodales dolor maximus eget. Fusce blandit facilisis tristique. Duis pulvinar ipsum nisl, eu sodales nulla ullamcorper in.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center home-footer">
  <h3>This is a footer by Danial</h3>
</div>