$navbar-default-bg: #e861a3;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";


// Navbar styles
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
}

// Jumbotron styles
.jumbotron {
  background-image: asset-url('rain-city-wallpapers-background-2.jpg');
  background-size: cover;
  height: 600px;
  h1 {
    color: #e861a3;
    margin-top: 60px;
    margin-bottom: 80px;
    font-weight: bold;
  }
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #e861a3;
}

.btn-xlarge:hover
{
background-color:#a51858;
}

// Footer Styles
.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #cecece;
  a:hover {
    color: #a51858;
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
  }
  ul li {
    float: left;
    margin-left: 15px;
  }
}

// Article Show Styles
.article-actions {
  border-top: 1px solid #cecece;
  padding-top: 10px;
}

.description {
  margin-top: 0px;
  margin-bottom: 0px;
}

.badge {
  background-color: #CEF6F5;
  text-transform: capitalize;
}

// Article New Styles
.input_checkbox input {
  width: auto !important;
}


// Article Index Styles
.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #cecece;
  padding-top: 15px;
  padding-bottom: 5px;
}

.article-meta-details {
  border-top: 1px solid #cecece;
  margin-top: 15px;
  padding-top: 5px;
}

// Users Index Styles
.listing {
  list-style: none;
  padding-left: 0;
}